*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.container {
    width: 90%;
    margin: 0 auto;
}
a {
    text-decoration: none;
}
button {
    cursor: pointer;
    border: none;
    transition: .5s;
}
#header{
    padding: 25PX 0;
    background: #FFFFFF;
    position: sticky;
    top: 0;
    z-index: 100;
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-logo h1{
    color: black;
    font-size: 25px;
    font-weight: 900;
    padding-right: 58px;
}
.header-logo a {
    font-weight: 400;
    font-size: 16px;
    color: #000000;
    transition: .5s;
    padding: 0 26px;
}

.header-logo a:hover {
    color: blue;
    text-decoration-line:underline;
}
.header-logo {
    display: flex;
    align-items: center;
}
.header-btn button {
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
    background: #FF4343;
    border-radius: 8px;
    padding: 15px 25px;
    border: 2px solid #FF4343;
    margin: 0 10px;
}
.header-btn button:hover {
    background: transparent;
    color:#FF4343;
    border: 2px solid #FF4343;
}
#hero{
    background: #100E14;
}
.hero h1{
    font-size: 63px;
    color: #FFFFFF;
    padding: 96px 0 44px 0;
}
.hero p{
    font-weight: 400;
    font-size: 28px;
    color: rgba(255, 255, 255, 0.7);
}
.hero button{
    font-weight: 400;
    font-size: 23px;
    color: #FFFFFF;
    background: #FF4343;
    border-radius: 8px;
    padding: 15px 25px;
    margin: 73px 0 19px 0;

    display: flex;
    align-items: center;
}
.hero button ion-icon {
    padding-left: 14px;
    font-size: 27px;
}
.hero h6{
    color: #FFF;
    font-size: 14px;
}
.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.hero-img {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-top: 61px;
}

.hero-img-one {
    position: absolute;
    top: 0px;
    right: -20px;
}
#shoot {
    background: #121118;
    padding: 60px 0;
}
.shoot-text h1 {
    color: #FFF;
    font-size: 58px;
    line-height: 70.4px;
    width: 442px;
    padding-bottom: 38px;
}
.shoot-text p {
    color: rgba(255, 255, 255, 0.50);
    font-size: 26px;
    width: 442px;
    line-height: 37.8px;
}
.shoot {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.shoot-img{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.shoot-img-two {
    position: absolute;
    left: -330px;
    bottom: -60px;
}

.shoot-img-one {
    position: relative;
    z-index: 2;
}
#enrich {
    background: #121118;
    padding: 60px 0;
}

.enrich-text h1 {
    color: #FFF;
    font-size: 58px;
    line-height: 70px;
    padding-bottom: 38px;
    width: 462px;
}
.enrich p {
    color: rgba(255, 255, 255, 0.50);
    font-size: 27px;
    font-family: Roboto;
    line-height: 37.8px;
    width: 524px;
}
.enrich-text p span {
    color: #FFFFFF;
    font-weight: 600;
}

.enrich {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.enrich-img {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.enrich-img-one {
    position: absolute;
    top: 0;
    left: 0;
}

#add {
    background: #121118;
    padding: 60px 0;
}
.add-text h1{
    color: #FFF;
    font-size: 54px;
    line-height: 70.4px;
    width: 404px;
    padding-bottom: 38px;
}

.add-text p {
    color: rgba(255, 255, 255, 0.50);
    font-size: 27px;
    line-height: 37.8px;
    width: 490px;
}
.add-text p span {
    color: #FFFFFF;
    font-weight: 600;
}
.add-block {
    width: 571px;
    height: 367px;
    background: #27252e;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.add {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.add-block-one {

    -webkit-box-shadow: 0px 0px 47px 14px rgba(219, 22, 10, 0.2);
    -moz-box-shadow: 0px 0px 47px 14px rgba(219, 22, 10, 0.2);
    box-shadow: 0px 0px 47px 14px rgba(219, 22, 10, 0.2);

    margin: 10px 0;
    padding: 20px 10px 0 10px;
    width: 70%;
    height: 65px;
    background: #100E14;
    border-radius: 8px;
    display: flex;
    align-items: start;
    justify-content: space-between;
}
.add-block-icon {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background: #2b2b2b;
    color: white;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.add-block-text h6 {
    color: white;
    font-size: 18px;
    font-weight: 400;
}

.add-block-text p {
    color: rgba(255, 255, 255, 0.50);
    font-size: 15px;
    font-weight: 400;
    padding-top: 10px;
}

.add-block-one button {
    background: #c7394a;
    padding: 20px 30px;
    border-radius: 20px;
}
#link {
    padding: 80px 0;
    background: #121118;
}
.link-text h1 {
    color: #FFF;
    font-size: 58px;
    font-weight: 400;
    line-height: 70px;
    width: 445px;
    padding-bottom: 38px;
}

.link-text p {
    width: 500px;
    color: rgba(255, 255, 255, 0.50);
    font-size: 25px;
    font-weight: 400;
    line-height: 38px;
}

.link-text p span {
    font-weight: 700;
    color: #FFFFFF;
}
.link-block {
    width: 562px;
    height: 350px;
    background: #1d1c27;
    border-radius: 30px;
    display: flex;
    align-items: end;
    justify-content: end;
    position: relative;

}
.link {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.link-block div {
    width: 70px;
    height: 270px;
    display: flex;
    justify-content: center;
    padding-top: 20px;
    position: absolute;
    bottom: 0;
    cursor: pointer;
    transition: .5s ease-out;
}
.link-block div:hover {
    transform: translateY(-50px);
    z-index: 2;
    border-radius: 20px;
    -webkit-box-shadow: 0 -2px 33px 27px rgba(221, 229, 236, 0.15);
    -moz-box-shadow: 0 -2px 33px 27px rgba(221, 229, 236, 0.15);
    box-shadow: 0 -2px 33px 27px rgba(221, 229, 236, 0.15);
}

.link-block div ion-icon {
    color: #FFFFFF;
    font-size: 30px;
    display: flex;
    justify-content: center;
}
.youtube {
    background: #dd0412;
    border-radius: 20px 0 0 0;
    right: 420px;


}
.instagram {
    background: #cb0341;
    border-radius: 20px 0 0 0;
    right: 360px;

}
.twitch {
    background: #7c3ee9;
    border-radius: 20px 0 0 0;
    right: 300px;

}
.tiktok {
    background: #010202;
    border-radius: 20px 0 0 0;
    right: 240px;

}
.twitter {
    background: #0395e4;
    border-radius: 20px 0 0 0;
    right: 180px;

}
.linkedin {
    background: #02608f;
    border-radius: 20px 0 0 0;
    right: 120px;

}
.email {
    background: #234a55;
    border-radius: 20px 0 0 0;
    right: 60px;

}
.whatsapp {
    background: #3cb955;
    border-radius: 20px 0 30px 0;
    right: 0px;
}
#the {
    background: #121118;
    padding: 80px 0;
}
.the h1 {
    width: 510px;
    margin: 0 auto;
    color: #FFF;
    text-align: center;
    font-size: 61px;
    font-weight: 400;
    line-height: 83px;

}
.the-line {
    width: 120px;
    height: 5px;
    background: #FF4343;
    margin: 38px auto 34px auto;
}
.the p {
    width: 617px;
    color: rgba(255, 255, 255, 0.50);
    text-align: center;
    font-size: 26px;
    font-weight: 400;
    line-height: 38px;
    margin: 0 auto 88px auto;
}
.the-block-text h3 {
    width: 183px;
    color: #FFF;
    text-align: center;
    font-size: 29px;
    font-weight: 400;
    line-height: 35px;
}
.the-block-text h4 {
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    padding: 10px 0 5px 0;
}
.the-block-text h5 {
    color: rgba(255, 255, 255, 0.65);
    text-align: center;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
}
.the-block-text {
    position: absolute;
    bottom: 0;
    left: 0;
    opacity: 0;
    transition: .8s;



    width: 251px;
    height: 452px;

    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;

    background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 31.25%, #000 100%);
}
.the-block {
    position: relative;

}
.the-block:hover > .the-block-text {
    opacity: 1;
}
.the-general {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/*offer start*/
#offer {
    padding: 180px 0;
    background: #121118;
}
.offer h4 {
    color: #8BFFB0;
    font-size: 22px;
    font-weight: 400;
}
.offer h1 {
    padding: 21px 0 32px 0;
    color: #FFF;
    font-size: 58px;
    font-weight: 400;
    width: 787px;
}

.offer p{
    color: rgba(255, 255, 255, 0.50);
    font-size: 27px;
    font-weight: 400;
    width: 870px;
}
.offer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.offer-img {
    animation: offerimg 2s infinite linear;
    padding-top: 70px;
}
@keyframes offerimg {
    0% {
        opacity: 0;
    }
}

/*offer end*/